.total_metric {
        position: absolute;
        top: -15vh;
        left: 9vw;
}
.value_total {
    font-size: calc(1.35rem + 1.2vw);
}
.label_total {
    margin-bottom: 0;
}
.stExpander {
    max-width: 599px;
  }
.stDateInput[data-testid="stDateInput"] {
width: fit-content !important;
}

.label_total {
    text-align: center;
}
#total_historique {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}